@using System.Globalization;
@using Blazored.Toast.Configuration;
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager
@inject ApplicationDbContextService DbContextService
@inject CultureProviderService CultureProvider

@{
    string language = HttpContextAccessor.HttpContext.Session.GetString("Language");
    var culture = CultureInfo.GetCultureInfo(language);

    if (CultureProvider.GetCurrentCultureInfo() != culture)
    {
        var uri = new Uri(NavigationManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var cultureEscaped = Uri.EscapeDataString(culture.Name);
        var uriEscaped = Uri.EscapeDataString(uri);
        NavigationManager.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad: true);
    }

    string providerType = HttpContextAccessor.HttpContext.Session.GetString("Provider");
    string connectionString = HttpContextAccessor.HttpContext.Session.GetString("ConnectionString");

    if (!string.IsNullOrWhiteSpace(providerType) && !string.IsNullOrWhiteSpace(connectionString) && !DbContextService.IsDbContextSet())
    {
        DbContextService.SetDbContext(connectionString, (DatabaseProviderType)Enum.Parse(typeof(DatabaseProviderType), providerType));
    }
}

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Stran ni bila najdena!</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="imgbox">
                <h1 class="text-center text-danger">Žal iskana stran ni bila najdena!</h1>
                <img class="center-fit" src="img/page-not-found.jpg" alt="Stran ni bila najdena slika" />
            </div>
        </LayoutView>
    </NotFound>
</Router>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                ShowProgressBar="true" />