@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Localization;
@using SportsOrganizer.Server.Enums
@using SportsOrganizer.Server.Interfaces
@using SportsOrganizer.Server.Models
@using SportsOrganizer.Server.Services
@using Microsoft.AspNetCore.Http
@using System.Globalization;
@using SportsOrganizer.Server.Utils;
@namespace SportsOrganizer.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ILiteDbService<AppSettingsModel> LiteDbService
@inject IConfiguration Configuration
@inject MemoryStorageUtility MemoryStorageUtility

@{
    MemoryStorageUtility.SetValuesFromLiteDb(LiteDbService.GetAll());

    var langObj = MemoryStorageUtility.GetValue(KeyValueType.LanguageShort);
    var language = (langObj != null) ? (string)langObj : Configuration["DefaultSettings:Language"];
    if (langObj == null) MemoryStorageUtility.SetValue(KeyValueType.LanguageShort, language);

    var themeObj = MemoryStorageUtility.GetValue(KeyValueType.Theme);
    var theme = (themeObj != null) ? (string)themeObj : Configuration["DefaultSettings:Theme"];

    var faviconObj = MemoryStorageUtility.GetValue(KeyValueType.Favicon);
    var favicon = (faviconObj != null) ? (string)faviconObj : "favicon.png";

    var setupCompleteObj = MemoryStorageUtility.GetValue(KeyValueType.SetupComplete);
    var setupComplete = (setupCompleteObj != null) ? (bool)setupCompleteObj : false;
}

<!DOCTYPE html>
<html lang="@language">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/@(theme).min.css" id="themeLink" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css" rel="stylesheet" />
    <link href="_content/Blazorise.SpinKit/blazorise.spinkit.css" rel="stylesheet" />
    <link href="_content/Radzen.Blazor/css/default-base.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet" />
    <link href="SportsOrganizer.Server.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="@favicon">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @if (setupComplete)
    {
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    }
    else
    {
        <component type="typeof(Setup)" render-mode="ServerPrerendered" />
    }

    <div id="blazor-error-ui">
        <environment include="Staging,Production,Development">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script>
        window.changeTheme = (themeName) => {
            var linkTag = document.querySelector('link[id="themeLink"]');
            if (linkTag) {
                linkTag.href = 'css/bootstrap/' + themeName + '.min.css';
            }
        }
    </script>
</body>
</html>
