@page "/Activities"
@using SportsOrganizer.Server.Components.ActivityPreviewComponent
@inherits ActivitiesBase

<PageTitle>@Localizer["PageTitle"] - @((string)MemoryStorage.GetValue(KeyValueType.Title))</PageTitle>

<h1 class="text-center display-6">@Localizer["PageTitle"]</h1>

<div class="m-2">
    @if (Activities != null && Activities.Count != 0)
    {
        foreach (var Activity in Activities)
        {
            <ActivityPreview Activity="Activity" ActivityPreviewType="ActivityPreviewType.View" />
        }
    }
</div>