@page "/User/Insert-Activity-Results/{ActivityId:int}"
@inherits InsertActivityResultsBase

<PageTitle>@($"{Activity.ActivityNumber}. {Localizer["Activity"]}")</PageTitle>

<div class="row">
    <h1 class="text-center">@($"{Activity.ActivityNumber}. {Localizer["Activity"]}: {Activity.Title}")</h1>
    <div class="col-md-4">
        
    </div>
</div>
