@inherits LayoutComponentBase

<PageTitle>SportsOrganizer</PageTitle>

<div class="page w-100 min-vh-100">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>