@using SportsOrganizer.Server.Components.LayoutComponents.FooterComponent
@using SportsOrganizer.Server.Components.LayoutComponents.HeaderComponent
@inherits LayoutComponentBase

<PageTitle>SportsOrganizer</PageTitle>


<div class="page w-100 min-vh-100">
    <Header />
    <main>
        <article class="content px-4 container">
            @Body
        </article>
    </main>
    <Footer />
</div>
